.header {
  
  // Hamburger Open Styles
  &.open {
    .header__toggle {
      > span:first-child{
        transform: rotate(45deg);
      }
    
      > span:nth-child(2){
        opacity: 0;
      }
    
      > span:last-child{
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0; // Evita el scroll
    right: 0;
    bottom: 0;
    left: 0;
    // background-color: $darkBlue;
    background-image: linear-gradient($darkBlue, transparent);
    
  }
  
  nav {
    position: relative;
    background-color: $white;
    padding-top: toRem(17);
    padding-bottom: toRem(17);
  }

  &__logo {
    img {
      width: toRem(141);
      height: toRem(22);
    }

  }

  &__toggle { // Mobile menu toggle
    > span {
      display: block;
      width: toRem($hamAncho);
      height: toRem($hamAlto);

      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child){
        margin-bottom: toRem($hamMarbotton);
      }
    }
  }

  &__menu {
    position: absolute;          // para centrar post absolute
    width: calc(100% - 3rem);    // para centrar post absolute
    left: 50%;                   // para centrar post absolute
    transform: translateX(-50%); // para centrar post absolute
    background: $white;
    margin-top: toRem(24);
    padding: toRem(26);
    border-radius: 5px;

    a {
      display: block;
      color: $darkBlue; 
      padding: toRem(10);
      text-align: center;
    }
  }
  
  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;
      
      &:not(:last-child){
        margin-right: 32px;
      }
      
      &::before {
        content: "";
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      
      &:hover {
        color: $darkBlue;
        
        &::before {
          opacity: 1;
        }
      }
    }
  }
  
  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;
    
    &:hover {
      opacity: 0.75;
    }
  }
  
}