.header {
  nav {
    padding: toRem($navPadding);;

  }

  &__logo {
    img {
      width: toRem(141);
      height: toRem(22);
    }

  }

  &__menu {
    > span {
      display: block;
      width: toRem($hamAncho);
      height: toRem($hamAlto);

      background-color: $darkBlue;

      &:not(:last-child){
        margin-bottom: toRem($hamMarbotton);
      }
    }

  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayishBlue;

      &:not(:last-child){
        margin-right: 32px;
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
  }
}